<div layout="column" layout-fill>
	<div ng-if="user!=='undefined'" layout="row" layout-align="center center">
		<h4> Welcome {{user.firstname}} {{user.lastname}}</h4>
	</div>

	<div layout="row" layout-align="center center">
	
	  	<input vs-google-autocomplete ng-model="adress" ng-change="printAdress()" name="address" type="text">
	  	<md-datepicker ng-model="dateStart" md-placeholder="Enter date"></md-datepicker>
	  	<md-datepicker ng-model="dateEnd" md-placeholder="Enter date"></md-datepicker>
	  	<md-button ng-href="#/notes">
			search
			<md-icon aria-label="Icon" class="material-icons">search</md-icon>
		</md-button>
	</div>

	<div layout="row" layout-align="center center">
		<h1>
			<span ng-if="adress!==undefined">{{adress}}</span><br/>
			<span ng-if="dateStart!==undefined">{{dateStart}}</span>
			<span ng-if="dateEnd!==undefined">-> {{dateEnd}}</span> 
		</h1>
	</div>

	<div layout="row" layout-align="center center">
	<md-content>
      <md-list flex>
        <md-subheader class="md-no-sticky">Parkings</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="p in parkings" ng-click="selectPark(p)">
          <div class="md-list-item-text" layout="column">
            <h3>{{ p.address.city }}</h3>
            <h4>{{ p.address.street }}</h4>
            <p>{{ p.type}}</p>
          </div>
        </md-list-item>
    	</md-list>
    </md-content>

	<ng-map zoom="11" center="{{parkSelected.address.location.lat}},{{parkSelected.address.location.long}}" style="width: 50%; float:right">
	    <marker 
	    	no-watcher="true"
  			ng-repeat="p in parkings"
  			position="{{p.address.location.lat}}, {{p.address.location.long}}">	
  		</marker>
	</ng-map>
	</div>
</div>

