<md-toolbar layout="row" class="md-whiteframe-3dp">
	<div class="md-toolbar-tools">
		<main-menu-button></main-menu-button>
		<md-icon>explore</md-icon>
		<h1>CarParking</h1> 
		<span flex></span>
		<md-button ng-if="!user" ng-href="#/login" class="md-raised md-accent">Login</md-button>
		<md-button ng-if="!user" ng-href="#/register" class="md-raised md-accent">Sign Up</md-button>
	</div>
</md-toolbar>

<div layout="column" layout-fill>
	<md-content class="md-padding" layout-xs="column" layout="column">
		<div flex-xs flex-gt-xs="50" layout="column" ng-if="countReservation>0 || countMsg>0 || countBooking>0">
			<div style="display:block; margin-top:15px;">
				<div class="infoBox" layout='row' layout-align="center center">
					<md-icon>info</md-icon>
					<div flex >
						Notifications
					</div>
				</div>
			</div>
		</div>
		<div flex-xs flex-gt-xs="50" layout="column" ng-if="countReservation>0">
			<md-card>
				<md-card-content layout="rown" layout-align="start start">
					<h2 class="md-title" style="color:#333;">You have {{countReservation}} reservation(s) to accept.</h2>
					<span flex></span>
					<md-button ng-href="" class="md-raised md-primary" ng-click="goToReservations()">Reservations</md-button>
				</md-card-content>
			</md-card>
		</div>
		<div flex-xs flex-gt-xs="50" layout="column" ng-if="countMsg>0">
			<md-card>
				<md-card-content layout="rown" layout-align="start start">
					<h2 class="md-title" style="color:#333;">You have {{countMsg}} message(s) to read.</h2>
					<span flex></span>
					<md-button ng-href="" class="md-raised md-primary" ng-click="goToMessages()">Messages</md-button>
				</md-card-content>
			</md-card>
		</div>
		<div flex-xs flex-gt-xs="50" layout="column" ng-if="countBooking>0">
			<md-card>
				<md-card-content layout="rown" layout-align="start start">
					<h2 class="md-title" style="color:#333;">You have {{countBooking}} booking(s) waiting to be accepted.</h2>
					<span flex></span>
					<md-button ng-href="" class="md-raised md-primary" ng-click="goToBookings()">Bookings</md-button>
				</md-card-content>
			</md-card>
		</div>
			<div layout-wrap layout="row" layout-align="center start" class="homeDisplay">
				<a ng-href="#/rent" >
					<md-card flex>
					 	<img src="/public/images/home_add.png" class="md-card-image">
					 	<md-card-content>
					 		<h2 class="md-title" style="text-align: center">Rent</h2>
					 	</md-card-content>
					</md-card>
				</a>

				<a ng-href="#/find">
					<md-card flex>
					 	<img src="/public/images/home_find.png" class="md-card-image">
					 	<md-card-content>
					 		<h2 class="md-title" style="text-align: center">Find</h2>
					 	</md-card-content>
					</md-card>
				</a>
				<a ng-href="#/profile">
					<md-card flex>
					 	<img src="/public/images/home_edit.png" class="md-card-image">
					 	<md-card-content>
					 		<h2 class="md-title" style="text-align: center">Profile</h2>
					 	</md-card-content>
					</md-card>
				</a>
			</div>
	</div>
	</md-content>
</div>

