<md-dialog ng-cloak style="width:70%;" >
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<md-button type='button' class="md-icon-button" ng-click="closeMessageBox()">
					<i class="material-icons" >arrow_back</i>
				</md-button>
				<h2>Send a Message</h2>
				<span flex></span>
				
			</div>
		</md-toolbar>
		<md-dialog-content style="max-height:60%;">
			<div class="md-dialog-content">
				<md-content class="md-padding">
					<div layout="row" layout-align="center center">
						<md-input-container flex="80" class="md-icon-float">
							<label>To</label>
							<p style="margin-top: 23px;">{{owner.firstname}} {{owner.lastname}}</p>
						</md-input-container>
					</div>
					<div layout="row" layout-align="center center">
						<md-input-container flex="80">
							<label>Object</label>
							<p style="margin-top: 23px;">Parking: {{p._id}}</p>
						</md-input-container>
					</div>
					<div layout="row" layout-align="center center">
						<md-input-container class="md-block" flex="80">
							<label>Message</label>
							<textarea ng-model="message.content" name="textcontent" columns="1" rows="7" required></textarea>
						</md-input-container>
					</div>
					<div style="text-align:center">
						<md-button type='button' class="md-accent md-raised md-hue-1" ng-click="sendMessage()">Send</md-button>
					</div>
				</md-content>
			</div>
		</md-dialog-content>
	</form>
</md-dialog>