<div layout="column" layout-fill>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<span ng-if="noteAdd">Ajouter une note</span>
			<span ng-if="noteEdit">Modifier</span>
			<span flex></span>
			<md-button ng-href="#/notes">
				Notes
			</md-button>
			<md-button ng-click="archiveNote()" ng-if="noteEdit">
				Archiver
			</md-button>
		</div>
	</md-toolbar>
	<md-content>
		<form name="noteForm" ng-submit="formSubmit(noteForm)">
			<div layout="row" layout-align="center">
				<md-content class="md-whiteframe-2dp md-padding" style="margin-top:20px;" flex="90">
					<div layout="row" layout-align="center" layout-wrap class="inline-row">
						<md-input-container flex="70" flex-xs="100">
							<input type="text" ng-model="note.title" required="required">
							<label>Titre</label>
						</md-input-container>
					</div>
					<div layout="row" layout-align="center" layout-wrap class="inline-row">
						<md-input-container flex="70" flex-xs="100">
							<textarea ng-model="note.text" required="required"></textarea>
							<label>Contenu</label>
						</md-input-container>
					</div>
				</md-content>
			</div>

			<div style="text-align:center">
				<md-button type='submit' class="md-accent md-raised md-hue-1" ng-if="noteAdd">Ajouter</md-button>
				<md-button type='submit' class="md-accent md-raised md-hue-1" ng-if="noteEdit">Modifier</md-button>
			</div>
		</form>
	</md-content>
</div>