<!DOCTYPE html>
<html ng-app="rgeApp">
	<head>
		<title>CarparKing</title>

		<!-- Styling -->
		<link rel="stylesheet" href="/components/angular-material/angular-material.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="/public/stylesheets/style.css" media="screen,projection" />


		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta name="theme-color" content="#607d8b" />
	    <meta name="mobile-web-app-capable" content="yes">

	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	    <link type="text/css" rel="stylesheet" href="/public/stylesheets/style.css" media="screen,projection" />

	    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBjLw7EMEGCVZr2Gw4ZNf-ywHhBuHEYAUo"></script>
	    <script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>

	     
	    <!-- requires bower components -->
		<script type="text/javascript" src="/components/angular/angular.min.js"></script>
		<script type="text/javascript" src="/components/angular-sanitize/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="/components/angular-route/angular-route.min.js"></script>
		<script type="text/javascript" src="/components/angular-cookies/angular-cookies.min.js"></script>
		<script type="text/javascript" src="/components/angular-animate/angular-animate.min.js"></script>
		<script type="text/javascript" src="/components/angular-aria/angular-aria.min.js"></script>
		<script type="text/javascript" src="/components/angular-material/angular-material.min.js"></script>
		<script type="text/javascript" src="/components/vsGoogleAutocomplete/dist/vs-google-autocomplete.js"></script>
		<script type="text/javascript" src="/components/ngmap/build/scripts/ng-map.min.js"></script>

		<!-- require app modules -->
		<script type="text/javascript" src="/modules/home/homeModule.js"></script>
		<script type="text/javascript" src="/modules/notes/noteModule.js"></script>
		<script type="text/javascript" src="/modules/login/loginModule.js"></script>
		<script type="text/javascript" src="/modules/register/registerModule.js"></script>
		<script type="text/javascript" src="/modules/rent/rentModule.js"></script>
		<script type="text/javascript" src="/modules/profile/profileModule.js"></script>
		<script type="text/javascript" src="/modules/parking/parkingModule.js"></script>
		<script type="text/javascript" src="/app.js"></script>
	</head>

	<body >

	<!--

		<md-toolbar layout="row" class="md-whiteframe-3dp">		
		
	
			<div class="md-toolbar-tools">
				<md-button ng-href="#/">
					<md-icon aria-label="Icon" class="material-icons">public</md-icon>
					<span>CarparKing</span>
					
				</md-button>
				<span flex></span>
				<% if(user) { %>
				<md-button  ng-href="/user/Logout">
					My Bookings
				</md-button>
				<md-button ng-href="/user/Logout">
					My Parkings
				</md-button>
				<md-button ng-href="/user/Logout">
					Logout
				</md-button>
				<% }else{ %>
				<md-button ng-href="#/login">
					Login 
				</md-button>
				<md-button ng-href="#/register">
					Register
				</md-button>
				<% } %>
				<md-button ng-href="#/rent">
					<md-icon aria-label="Icon" class="material-icons">local_parking</md-icon>
					Rent your parking
				</md-button>
			</div> 
		
			</md-toolbar>		
		<md-progress-linear md-mode="indeterminate" id="mainProgressBar"></md-progress-linear>
		<div ng-view class="container fadeIn" style="padding-bottom:40px;" flex></div>
		-->
	<div id="toolBarVirtual"></div>
	<md-progress-linear md-mode="indeterminate" id="mainProgressBar"></md-progress-linear>
	<section layout="row" flex>
		<div id="fixedSidenavReplacer" hide-md hide-sm hide-xs></div>
		<md-sidenav md-component-id="left" class="md-sidenav-left" md-is-locked-open="$mdMedia('gt-md')" id="sideNavCustomerApp">
			<h4 class="md-title menuTitle hide-gt-md" style="margin:10px;">
				<md-icon aria-label="Icon" class="material-icons">public</md-icon> Carparking
			</h4>
			<md-list class="mainMenuList">
				<% if(user) { %>
				<md-list-item md-ink-ripple class="md-clickable">
					<a href="#/rent" class="md-list-item-text"><i class="material-icons md-avatar-icon">local_parking</i> <span class="mainMenuTextItem">
					Rent your parking</span></a>
				</md-list-item>
				<md-list-item md-ink-ripple class="md-clickable">
					<a href="#/profile" class="md-list-item-text"><i class="material-icons md-avatar-icon">person</i> <span class="mainMenuTextItem">
					Profile</span></a>
				</md-list-item>
				<md-list-item md-ink-ripple class="md-clickable">
					<a href="#/" class="md-list-item-text"><i class="material-icons md-avatar-icon">home</i> <span class="mainMenuTextItem">My Bookings</span></a>
				</md-list-item>
				<md-list-item md-ink-ripple class="md-clickable">
					<a href="#/parkings" class="md-list-item-text"><i class="material-icons md-avatar-icon">add</i> <span class="mainMenuTextItem">My Parkings</span></a>
				</md-list-item>
				<md-list-item md-ink-ripple class="md-clickable">
					<a href="/user/Logout" class="md-list-item-text"><i class="material-icons md-avatar-icon">view_week</i> <span class="mainMenuTextItem">Logout</span></a>
				</md-list-item>
				<% }else{ %>
				<md-list-item md-ink-ripple class="md-clickable">
					<a href="#/login" class="md-list-item-text"><i class="material-icons md-avatar-icon">view_week</i> <span class="mainMenuTextItem">Login </span></a>
				</md-list-item>
				<md-list-item md-ink-ripple class="md-clickable">
					<a href="#/register" class="md-list-item-text"><i class="material-icons md-avatar-icon">view_week</i> <span class="mainMenuTextItem">Register</span></a>
				</md-list-item>
				<% } if(admin) { %>
				<md-list-item md-ink-ripple class="md-clickable">
					<a href="#/" class="md-list-item-text"><i class="material-icons md-avatar-icon">https</i> <span class="mainMenuTextItem">
					Admin</span></a>
				</md-list-item>
				<%}%>


			</md-list>
		</md-sidenav>
		<div ng-view class="container fadeIn" style="padding-bottom:40px;" flex></div>
	</section>
	</body>
</html>

