<md-toolbar layout="row" class="md-whiteframe-3dp">
	<div class="md-toolbar-tools">
		<main-menu-button></main-menu-button>
		<md-icon>explore</md-icon>
		<h1>CarParking</h1> 
		<span flex></span>
		<md-button ng-if="!user" ng-href="#/login" class="md-raised md-accent">
			<md-icon>exit_to_app</md-icon>Login
		</md-button>
		<md-button ng-if="!user" ng-href="#/register" class="md-raised md-accent">
			<md-icon>add_box</md-icon>Sign Up
		</md-button>
		<md-button ng-if="countReservation>0" ng-href="#/reservations" class="md-raised md-accent">
			<md-icon>local_parking</md-icon>{{countReservation}}
		</md-button>
		<md-button ng-if="countBooking>0" ng-href="#/bookings" class="md-raised md-accent">
			<md-icon>autorenew</md-icon>{{countBooking}}
		</md-button>
		<md-button ng-if="countMsg>0" ng-href="#/messages" class="md-raised md-accent">
			<md-icon>mail</md-icon>{{countMsg}}
		</md-button>
	</div>
</md-toolbar>

<div layout="column" layout-fill>
	<md-content class="md-padding" layout-xs="column" layout="column">
		<div flex-xs flex-gt-xs="50" layout="column" >
			<div style="display:block; margin-top:15px;">
				<div class="infoBox" layout='row' layout-align="center center">
					<md-icon>info</md-icon>
					<div flex >
						Start here to find a parking, please enter the location where you would like to park your car.
					</div>
				</div>
		</div>
		<div flex-xs flex-gt-xs="50" layout="column">
			<md-card>
				<md-card-content>
					<h2 class="md-title" style="color:#333;">Find a Parking</h2>
					<div  layout="row" layout-align="center center">
						<input vs-google-autocomplete
							ng-model="adress.lib" 
							vs-latitude="map.lat"
	    					vs-longitude="map.long" 
							ng-change="printAdress()" 
							name="address" type="text" 
							style="width: 80%">
			  			<md-datepicker ng-model="dateStart" md-placeholder="Enter date"></md-datepicker>
			  			<md-datepicker ng-model="dateEnd" md-placeholder="Enter date"></md-datepicker>
			  			<md-button ng-click="centerMap()" class="md-fab">
							<md-icon aria-label="Icon" class="material-icons" ng-click="searchParking()">search</md-icon>
						</md-button>
					</div>
				</md-card-content>
			</md-card>
		</div>
		<div flex-xs flex-gt-xs="50" layout="row">
		    <div flex="50" flex-sm="45" flex-xs="100" flex-md="45">
				<md-card>
					<md-card-content>
						<md-list>
							<md-subheader class="md-no-sticky">Parkings</md-subheader>
							<md-list-item class="md-3-line md-accent"  ng-repeat="p in parkings" ng-click="selectPark(p)" >
								<div class="md-list-item-text" layout="column">
									<h3>{{ p.address.city }}</h3>
									<h4>{{p.address.streetNumber}} {{ p.address.street }}</h4>
									<p>{{ p.type}}</p>
								</div>
								<div>
									<md-button ng-href="" class="md-icon-button" ng-click="showAlert($event,p)">
										<md-icon aria-label="Icon" class="material-icons">launch</md-icon>	
									</md-button>
								</div>
							</md-list-item>
						</md-list>
					</md-card-content>
				</md-card>
			</div>
			<div flex="50" flex-sm="45" flex-xs="100" flex-md="45">

				<md-card>
					<md-card-content>
						<ng-map zoom="{{map.zoom}}" center="{{map.lat}},{{map.long}}">
						    <marker 
						    	no-watcher="true"
					  			ng-repeat="p in parkings"
					  			position="{{p.address.location.lat}}, {{p.address.location.long}}"
					  			on-click="showAlert(p)">	
					  		</marker>
						</ng-map>
					</md-card-content>
				</md-card>
			</div>
		</div>
	</md-content>
</div>

