/**
    Copyright POTEL Martin --- CarParking

    Sytle sheet
*/

	
.colorNormal {
	color: rgba(0,0,0,0.87);
}
.homeDisplay a {
	text-decoration: none !important;
	color: rgba(0,0,0,0.87) !important;
}

.mainMenuList > md-list-item {
	padding:0;
}

#toolBarVirtual {
	display: block;
	width: 100%;
	background-color:rgb(48,54,174);
}

#toolBarVirtual.withTabs {
	height:96px;
}

@media screen and (min-width: 960px) {
	#toolBarVirtual {
		height:64px;
	}
}

@media screen and (max-width: 960px) {
	#toolBarVirtual {
		height:48px;
	}
}

.mainMenuTextItem {
	display: inline-block;
	padding-top: 8px;
}

.container, body {
	background-color: #F5F5F5;
}

.menuTitle {
	text-align: center;
}

.mainMenuList > md-list-item a {
	color:#666;
	text-decoration: none;
	font-size: 14px;
	padding: 17px 17px 5px 17px;
	display: block;
	width: 100%;
}

.mainMenuList > md-list-item i {
	float:left;
	margin-top:-2px;
}

.mainMenuList > md-list-item:hover {
	background-color: #F5F5F5;
}

main-menu-button i, .mainMenuButton {
	padding-top: 13px;
}

@media screen and (min-width: 600px) {
	md-toolbar > button > i, md-toolbar > a > i {
		padding-top: 20px;
	}
}

@media screen and (max-width: 600px) {
	md-toolbar > button > i, md-toolbar > a > i {
		padding-top: 11px;
	}
}

.infoBox {
	background-color:#8C9EFF;
	color:#FFF;
	padding:10px;
	margin:0 10px 5px 10px;
	border-radius:2px;
}

.infoBox md-icon {
	color:white;
	margin-right:5px;
}

.mobileMenuLogo {
	height:83px;
	width: 130px;
	margin:auto;
}



.fadeIn {
	transition:0.2s linear all;
}



.fadeIn.ng-enter {
	opacity:0;
}

.fadeIn.ng-leave {
	display:none;
}



md-menu-item i {
	padding-top: 5px;
	float:left;
	margin-right: 15px;
}

md-menu-content {
	color:#666;
}


md-radio-button {
  display: inline;
}

md-input-container.md-icon-float>md-icon {
	color:#999;
}


em.roleinfo {
	color:#666;
	font-size: 12px;
	margin-top: 5px;
}



div[ng-message] {
	color:rgb(244,67,54);
	font-size: 12px;
	display: inline-block;
	margin-top: 4px;
}

md-radio-group div[ng-messages] {
	text-align: center;
}


.container md-toolbar {
	position:fixed;
	left:0;
	top:0;
}

table.mainResultTable {
	width:80%;
	margin-left:10%;
}

#fixedSidenavReplacer {
	width:250px;
}

@media screen and (max-width: 567px) {
	.md-icon-button i.material-icons {
		margin-top:5px;
	}
}

@media screen and (min-width: 1262px) {
	md-sidenav.md-locked-open {
		z-index:1;
		background-color: #F5F5F5;
		width:250px;
		min-width: 250px;
		max-width: 250px;
	}

	md-sidenav#sideNavCustomerApp {
		position:fixed !important;
		margin-top:64px;
	}

	md-sidenav#sideNavCustomerApp.withTabs {
		margin-top:96px;
	}
}

#mainProgressBar {
	position: absolute;
	width: 100%;
	margin-top: -5px;
	z-index: 3;
}

div.inline-row md-input-container {
	margin:2px 0 !important;
}

.inlineRadioGroup > md-radio-button {
	display: inline-block;
	margin-top: 4px;
	margin-bottom: 4px;
}

.inlineRadioGroup > md-radio-button > div.md-label > span {
	display: inline-block;
	padding-bottom: 2px;
	padding-right: 26px;
}

.inlineRadioGroup > md-radio-button.md-checked > div.md-label > span {
	opacity:0.9;
	font-weight: bold;
	padding-right: 25px;
}

md-tabs[md-border-bottom] md-tabs-wrapper {
	border-width:0 !important;
}







