<md-toolbar layout="row" class="fade md-whiteframe-3dp">
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" aria-label="Retour" ng-href="#/">
			<md-icon>arrow_back</md-icon>
		</md-button>
		<h1>Register</h1>
	</div>
	<span flex=""></span>
</md-toolbar>

<div layout="column" layout-fill>
	<md-content class="md-padding" layout-xs="column" layout="column" layout-align="center center" >
			<div id="mainLoginFormContainer" >
				<form id="mainRegisterForm" name="mainLoginForm" class="md-whiteframe-z2 small" layout='column' ng-submit="submitForm(mainRegisterForm.$valid)" style="padding: 50px">
					


					<md-input-container flex='105' >
						<md-radio-group ng-model="newUser.gender" layout="row" layout-align="center center">
	      					<md-radio-button value="male" class="md-primary">Male</md-radio-button>
	      					<md-radio-button value="female" class="md-primary">Female</md-radio-button>
	    				</md-radio-group>
    				</md-input-container>

    				<div layoyt="row">

						<md-input-container flex='105' md-no-float>
							<md-icon aria-label="Icon" class="material-icons">person</md-icon>
							<input type="text" class="validate" placeholder="First Name" required="required" ng-model="newUser.firstname">
						</md-input-container>
						<md-input-container flex='105' md-no-float>
							<input type="text" class="validate" placeholder="Last Name" required="required" ng-model="newUser.lastname">
						</md-input-container>
					</div>
					<md-input-container flex='105' md-no-float>
						<md-icon aria-label="Icon" class="material-icons">cake</md-icon>
						<input required type="number" step="any" name="date" placeholder="Year of birth" ng-model="newUser.birth">
					</md-input-container>
					<md-input-container flex='105' md-no-float>
						<md-icon aria-label="Icon" class="material-icons">email</md-icon>
						<input name="mail" type="email" class="validate" placeholder="Mail" required="required" ng-model="newUser.mail">
					</md-input-container>
					<md-input-container md-no-float>
						<md-icon aria-label="Icon" class="material-icons">phone</md-icon>
      					<input ng-model="newUser.phone" type="number" placeholder="Phone Number" required="required" ng-model="newUser.mail">
    				</md-input-container>


					<md-input-container flex='105' md-no-float>
						<md-icon aria-label="Icon" class="material-icons">lock</md-icon>
						<input name="password" class="validate" type="password" placeholder="Password" required="required" ng-model="newUser.password"/>
					</md-input-container>

					<md-input-container flex='105' md-no-float>
						<md-icon aria-label="Icon" class="material-icons">lock</md-icon>
						<input name="passwordConfirm" placeholder="Password" type="password" class="validate" required="required" ng-model="newUser.passwordConfirm" />
					</md-input-container>
					

					<div ng-message ng-show="mainLoginForm.passwordConfirm.$valid && newUser.password!==newUser.passwordConfirm">
						<p style="size:1%;color:red">Passwords do not match</p>
					</div>


				    <div layout="row" layout-align="center center">
				    	<md-button ng-disabled="!mainLoginForm.$valid && newUser.password===newUser.passwordConfirm" type='submit' class=" md-raised md-hue-1">Submit</md-button>
					</div>
				</form>
			<div>
	</md-content>
</div>