<div layout="column" layout-fill>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-icon aria-label="Icon" class="material-icons">public</md-icon>
			<span>CarparKing</span>
			<span flex></span>
			<md-button ng-href="#/login">
				Login
			</md-button>
			<md-button ng-href="#/">
				Home
			</md-button>
		</div>
	</md-toolbar>
	<div layout="row" layout-align="center center">
		<md-content>
			<div id="mainLoginFormContainer">
				<form action="/Login" method="post" id="mainLoginForm" name="mainLoginForm" class="md-whiteframe-z2 small" layout='column'>
					
					<md-input-container flex='105' >
						<md-radio-group ng-model="data.group1" layout="row">
	      					<md-radio-button value="male" class="md-primary">Male</md-radio-button>
	      					<md-radio-button value="female" class="md-primary">Female</md-radio-button>
	    				</md-radio-group>
    				</md-input-container>

    				<div layoyt="row">

						<md-input-container flex='105' md-no-float>
							<md-icon aria-label="Icon" class="material-icons">person</md-icon>
							<input type="text" class="validate" placeholder="First Name" required="required">
						</md-input-container>
						<md-input-container flex='105' md-no-float>
							<input type="text" class="validate" placeholder="Last Name" required="required">
						</md-input-container>
					</div>
					<md-input-container flex='105' md-no-float>
						<md-icon aria-label="Icon" class="material-icons">email</md-icon>
						<input type="email" class="validate" placeholder="Mail" required="required">
					</md-input-container>
					<md-input-container md-no-float>
						<md-icon aria-label="Icon" class="material-icons">phone</md-icon>
      					<input ng-model="user.phone" type="text" placeholder="Phone Number">
    				</md-input-container>
					<md-input-container flex='105' md-no-float>
						<md-icon aria-label="Icon" class="material-icons">lock</md-icon>
						<input name="password" class="validate" type="password" placeholder="Password" required="required" />
					</md-input-container>
					<md-input-container flex='105' md-no-float>
						<md-icon aria-label="Icon" class="material-icons">lock</md-icon>
						<input name="password" placeholder="Password" type="password" class="validate" required="required" />
					</md-input-container>
				    <div class="footerMainLoginForm">
				    	<md-button type='submit' class=" md-raised md-hue-1">Submit</md-button>
					</div>
				</form>
			<div>
		</md-content>
	</div>
</div>