<md-toolbar layout="row" class="fade md-whiteframe-3dp">
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" aria-label="Retour" ng-href="#/">
			<md-icon>arrow_back</md-icon>
		</md-button>
		<h1>Parking Edit</h1>
	</div>
	<span flex=""></span>
</md-toolbar>

<div layout="column" layout-fill>	
	<md-content class="md-padding" layout-xs="column" layout="column">
		<div style="display:block; margin-top:15px;">
			<div class="infoBox" layout='row' layout-align="center center">
				<md-icon>info</md-icon>
				<div flex style="text-align: center">
					Edit your parking
				</div>
			</div>
		</div>
  		<div flex-xs flex-gt-xs="50" layout="column">
			<md-card>

				<md-card-content>
				<md-icon aria-label="Icon" class="material-icons">place</md-icon>
				
					<div  layout="row" layout-align="center center">
						{{parking.address.streetNumber}} {{parking.address.street}} {{parking.address.city}},  {{parking.address.country}}
					</div>
				</md-card-content>
			</md-card>
		</div>
		<div flex-xs flex-gt-xs="50" layout="column">
			<md-card>
				<md-card-content>
				<md-icon aria-label="Icon" class="material-icons">date_range</md-icon>
					<div  layout="row" layout-align="center center">
					<label>From</label>
					<md-datepicker ng-model="parking.dates.start" md-placeholder="Enter date" ng-disabled="parking.dates.always"></md-datepicker>
					<label style="margin-left: 30px;">To</label>
			  		<md-datepicker ng-model="parking.dates.end" md-placeholder="Enter date" ng-disabled="parking.dates.always"></md-datepicker>
			  		</div>
			  		<div layout="colomn" layout-align="center center" style="padding-top: 20px">
			  			<md-checkbox ng-model="parking.dates.always" aria-label="always">Always available</md-checkbox>
			  		</div>
			  	</md-card-content>
			 </md-card>
		</div>
		<div flex-xs flex-gt-xs="50" layout="column">
			<md-card>
				<md-card-content>
				<md-icon aria-label="Icon" class="material-icons">settings</md-icon>
					<div  layout="row" layout-align="center center">
						<md-input-container style=" width:40%;">
							<label>Type</label>
							<md-select ng-model="parking.type" required="required" style="width:100%;">
								<md-option value="Driveway">Driveway</md-option>
								<md-option value="Garage">Garage</md-option>
								<md-option value="Carpark">Car Park</md-option>
							</md-select>
						</md-input-container>
						<md-input-container style=" width:40%;">
							<label>Width</label>
							<md-select ng-model="parking.width" required="required" style="width:100%;">
								<md-option value="Normal">Normal</md-option>
								<md-option value="Small">Small</md-option>
							</md-select>
						</md-input-container>
					</div>
				</md-card-content>
			</md-card>
		</div>
		<div flex-xs flex-gt-xs="50" layout="column">
			<md-card>
				<md-card-content>
				<md-icon aria-label="Icon" class="material-icons">euro_symbol</md-icon>
					<div  layout="row" layout-align="center center">
						<md-input-container class="md-block">
	        				<label>Price per day</label>
	        				<input required type="number" step="any" name="price" ng-model="parking.price" />
	      				</md-input-container>
			  		</div>
			  	</md-card-content>
			 </md-card>
		</div>
		<div flex-xs flex-gt-xs="50" layout="column">
			<md-card>
				<md-card-content>
				<md-icon aria-label="Icon" class="material-icons">create</md-icon>
						<md-input-container class="md-block">
          				<label>Other informations</label>
          					<textarea ng-model="parking.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
        				</md-input-container>
			  	</md-card-content>
			 </md-card>
		</div>
		<div flex-xs flex-gt-xs="50" layout="column" layout-align="center center">
			<md-button class="md-raised md-primary" ng-click="submit()">Edit</md-button>
		</div>
	</md-content>	  		
</div>