<md-toolbar layout="row" class="fade md-whiteframe-3dp">
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" aria-label="Retour" ng-href="#/">
			<md-icon>arrow_back</md-icon>
		</md-button>
		<h1>My Parkings</h1>
	</div>
	<span flex=""></span>
</md-toolbar>

<div layout="column" layout-fill>	
	<md-content class="md-padding" layout-xs="column" layout="column">
		<div style="display:block; margin-top:15px;">
			<div class="infoBox" layout='row' layout-align="center center">
				<md-icon>info</md-icon>
				<div flex >
					There is the list of your car parks adverts. You may remove any advert if it is not booked.
				</div>
			</div>
		</div>
  		<div flex-xs flex-gt-xs="50" layout="column">
			<md-card>
				<md-card-content>
					<h2 class="md-title" style="color:#333;">My Parkings</h2>
					<md-list>
							<md-list-item class="md-3-line md-accent"  ng-repeat="p in parkings" ng-click="null" >
								<div class="md-list-item-text" layout="column">
									<h3>{{ p.address.city }}</h3>
									<h4>{{p.address.streetNumber}}, {{ p.address.street }}</h4>
									<p>{{ p.type}}</p>
								</div>
								<div>
									<md-button ng-href="" class="md-icon-button" ng-click="editPark($event,p)">
										<md-tooltip md-direction="top">Edit</md-tooltip>
										<md-icon aria-label="Icon" class="material-icons">mode_edit</md-icon>	
									</md-button>
									<md-button ng-href="" class="md-icon-button" ng-click="deletePark($event,p)">
										<md-tooltip md-direction="top">Delete parking</md-tooltip>
										<md-icon aria-label="Icon" class="material-icons">delete</md-icon>	
									</md-button>
								</div>
							</md-list-item>
					</md-list>
				</md-card-content>
			</md-card>
		</div>
		<div flex-xs flex-gt-xs="50" layout="column" layout-align="center center">
			<md-button href="#/rent" class="md-raised md-primary">Add Parking</md-button>
		</div>
	</md-content>	  		
</div>