<md-dialog aria-label=""  ng-cloak>
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Last Connexions</h2>
				<span flex></span>
			</div>
		</md-toolbar>
		<md-dialog-content style="min-width:800px;">
			<div class="md-dialog-content">
				<md-list>
					<md-list-item class="md-1-line" ng-repeat="l in ctrl.parent.logs | orderBy:'date':true">
						<div class="md-list-item-text">
							<p>{{ l.date | date:'d/M/yy H:mm:ss' }}</p>
						</div>
						<md-divider ng-if="!$last"></md-divider>
					</md-list-item>
				</md-list>
			</div>
		</md-dialog-content>
	</form>
</md-dialog>