<md-toolbar layout="row" class="fade md-whiteframe-3dp">
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" aria-label="Retour" ng-href="#/">
			<md-icon>arrow_back</md-icon>
		</md-button>
		<h1>My Bookings</h1>
	</div>
	<span flex=""></span>
</md-toolbar>

<div layout="column" layout-fill>	
	<md-content class="md-padding md-accent" layout-xs="column" layout="column">
		<div style="display:block; margin-top:15px;">
			<div class="infoBox" layout='row' layout-align="center center">
				<md-icon>info</md-icon>
				<div flex >
					There is your current bookings, you have acces to the informations about the booking with a click on it. You may cancel a booking, the owner will be informed of the cancellation. 
				</div>
			</div>
		</div>
  		<div flex-xs flex-gt-xs="50" layout="column">
			<md-card>
				<md-card-content>
					<h2 class="md-title" style="color:#333;">List of my bookings</h2>
					<md-list ng-cloak>
							<md-list-item class="md-3-line md-accent"  ng-repeat="b in bookings" layout="row" ng-click="null">
								<div class="md-list-item-text" layout="column">
									<h3>{{b.parking.address.street}}, {{b.parking.address.city}}</h3>
									<h4>From <b>{{b.dates.start | date:'d/M/yy' }}</b> to <b>{{ b.dates.end | date:'d/M/yy'}}</b></h4>
									<h4 ng-if="b.status==='accepted'" style="color:green">Accepted</h4>
									<h4 ng-if="b.status==='waiting'" style="color:grey">Waiting</h4>
									<h4 ng-if="b.status==='declined'" style="color:red">Declined</h4>
									<h4 ng-if="b.status==='canceled'" style="color:red">Canceled</h4>
								</div>
								
								<div>
									<md-button ng-href="" class="md-icon-button" ng-click="getInformations($event,b)">
										<md-tooltip md-direction="top">Informations</md-tooltip>
										<md-icon aria-label="Icon" class="material-icons">info</md-icon>	
									</md-button>
									<md-button ng-href="" class="md-icon-button" ng-disabled="b.payed" ng-click="goToPayment(b)" >
										<md-tooltip md-direction="top">Payment</md-tooltip>
										<md-icon aria-label="Icon" class="material-icons">payment</md-icon>	
									</md-button>
									<md-button ng-href="" class="md-icon-button" ng-click="cancelBooking($event,b)">
										<md-tooltip md-direction="top">Cancel booking</md-tooltip>
										<md-icon aria-label="Icon" class="material-icons">cancel</md-icon>	
									</md-button>
								</div>
							</md-list-item>
					</md-list>
				</md-card-content>
			</md-card>
		</div>
	</md-content>	  		
</div>